.Background {
    position: absolute;
    top: 0;
    left: 0;
    height: em(476px);
    width: em(1536px);
    background: orangered;
}

.Background-hills {
    position: absolute;
    top: 0;
    left: 0;
    height: em(476px);
    width: em(1536px);
    //background: orangered url(../assets/background.png) repeat-x;
    //background: url(../assets/background-hills.png);
    background: url(../assets/hills-background-2.png);
    background-size: contain;

    //animation: movehills 5s linear infinite;
    //-webkit-animation: movehills 5s linear infinite;

     @keyframes movehills {
        from {
            transform: translate3d(0,0,0);
        }
        to {
            transform: translate3d(em(-512px),0,0);
        }
    }
}

.Background-mountains {
    position: absolute;
    top: 0;
    left: 0;
    height: em(476px);
    width: em(1536px);
    background: url(../assets/mountains-back.png);
    background-size: contain;

    //animation: movemountains 20s linear infinite;
    //-webkit-animation: movemountains 20s linear infinite;

    @keyframes movemountains {
        from {
            transform: translate3d(0,0,0);
        }
        to {
            transform: translate3d(em(-256px),0,0);
        }
    }
}