.Ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: em(1061px);
    height: em(100px);

    background: url(../assets/ground.png);

    //transform: translateX(em(-37px));

    //animation: groundmove 0.12s linear infinite;
    //-webkit-animation: groundmove 0.12s linear infinite;

    @keyframes groundmove {
        from {
            transform: translate3d(0,0,0);
        }
        to {
            transform: translate3d(em(-37px),0,0);
        }
    }
}