.Ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: em(1061px);
    height: em(100px);

    background: url(../assets/ground.png) repeat-x;

    //transform: translateX(em(-37px));

    //animation: groundmove 1s linear infinite;
    //-webkit-animation: groundmove 1s linear infinite;

    /*@keyframes groundmove {
        from {
            left: 0;
        }
        to {
            left: em(-37px);
        }
    }*/
}