
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    width: em(50px);
    height: em(50px);
    background-image: url(../assets/flappybird.png);
    background-size: 150px 50px;
    animation: Player .25s steps(3) infinite;

}

.Player-dead {
    animation-play-state: paused;
}

@keyframes Player {
 100% {
    background-position: -150px;
 }
}