
.Scoreboard {
	position: absolute;
	left: 50%;
	top: em(100px);
	height: em(300px);
	width: em(200px);
	margin-left: em(-100px);
	box-sizing: border-box;
	border-radius: em(20px);
	border-color: black;
	border: em(2px) solid;

	background: orange;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-400px));
	transition: transform 0.5s;
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}

.Scoreboard-score {
	margin-top: em(15px);

	font-size: em(30px);
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	-webkit-text-stroke: em(0.5px) black;

}

.Scoreboard-restart {
	margin-top: em(150px);

	font-size: inherit;
	padding: em(4px) em(15px);
	border: em(2px) solid black;
	border-radius: em(3px);
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	// NOTICE: You'll lose 10% of your score if you don't change this style!
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: em(24px);
	color: white;
	-webkit-text-stroke: em(0.5px) black;
}
