
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 50%;//em(100px);
	height: em(50px);
	width: em(145px);
	margin-left: em(-75px);
	box-sizing: border-box;
	border-radius: em(15px);
	border-color: black;
	border: em(2px) solid;

	background: white;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-400px));
	transition: transform 0.5s;
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}

/*.Scoreboard-score {
	margin-top: em(15px);

	font-size: em(30px);
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	-webkit-text-stroke: em(0.5px) black;

}*/

.Scoreboard-restart {
	margin-top: em(2px);
	font-size: inherit;
	padding: em(4px) em(15px);
	 border: em(2px) solid black;
	border-radius: em(12px);
	background: orange; //url("../assets/restart.png") no-repeat;
	background-size: cover;
	cursor: pointer;
}

.Scoreboard-restartText {
	// NOTICE: You'll lose 10% of your score if you don't change this style!
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: em(25px);
	font-weight: bold;
	color: white;
	-webkit-text-stroke: em(0.7px) black;
}

.Score {
	position: absolute;
	left: 50%;
	top: 0;	
	margin-top: em(10px);
	margin-left: em(-3.5px);

	font-size: em(50px);
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	-webkit-text-stroke: em(0.5px) black;
} 